.indexStyle {
color: #2F3E46;
background-color: #52796f;
font-family:Georgia, 'Times New Roman', Times, serif;
background-image: url("/assets/sokeres-docent-bKTZO9z3Kro-unsplash.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
object-fit: fill;
min-height: 100vh;
}

.subBodyStyle {
    background-color: #84A98C;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.panel {
    background-color: #CAD2C5 !important;
    border-radius: 20px !important; 
}

.subHeaderStyle {
color: #84A98C;
background-color: #2F3E46;
margin-top: 20px;
text-align: center;
}

.indexheaderStyle > h1 {
    background-color: #84A98C;
    text-align: center;
    margin-top: 50px;
    color: #2F3E46;
    
}
.navbar {
background-color: #CAD2C5;
}

.card, .card:hover, .card > .card-body, .card > .card-body:hover  {
background-color:#2F3E46;
color: #84A98C;
}

.card-body > .link {
color: #84A98C;
background-color:#2F3E46;
text-decoration: none;
}

li > .nav-link {
    color: #2F3E46;
}

.customCardTextBox {
    background-color: #9EAFA7 !important;
    color: black !important;
    padding: 0px;
}

.contentBackground {
    background-color: #CAD2C5 !important;
}